APP_NAME=GymControl
APP_ENV=local
APP_KEY=base64:LeMS+4hR866IXCDuN6ZDGUvyLhM2vhXsykAa2UaOiwI=
APP_DEBUG=true
APP_URL=http://localhost


LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=gymcontrol
DB_USERNAME=root
DB_PASSWORD=


SESSION_DRIVER=cookie
SESSION_LIFETIME=120

CACHE_STORE=array
QUEUE_CONNECTION=sync

# Cambiar a false para permitir acceso desde internet
TERMINAL_SOLO_RED_LOCAL=false
